Need to make dynamic path for email verification in register user controller.
Mail verification while register user, path should be frontend instead of backend.
While mail verification there should be a token in url instead of user id in encrypted format.
Need to pesist data so on load context api data does not lost like while update shop, on refresh it does not show data.