<% const err = typeof error !== 'undefined' ? error : null; %>

<h2>Reset Password</h2>

<% if (err) { %>
  <h3 style="color:red;">
    <%= err === 'expire' ? 'Link Expired!' : err %>
  </h3>
<% } %>

   <% if (err !== 'expire' && resetData) { %>
      <form action="/reset-password?token=<%= resetData.token %>" method="post">
        <input type="hidden" name="user_id" value="<%= resetData.user_id %>" />
        <input type="password" name="new_password" id="new_password" placeholder="New Password" required />
        <input type="password" name="confirm_new_password" id="confirm_new_password" placeholder="Confirm Password" required />
        <input type="submit" value="Submit" />
      </form>
  <% } %>