<<<<<<< HEAD
<%
    if(typeof message !== 'undefined') {
        %>
            <h2><%= message %></h2>
        <%
    }
=======
<%
    if(typeof message !== 'undefined') {
        %>
            <h2><%= message %></h2>
        <%
    }
>>>>>>> 32773d1ff9f785065f7749fdc4e9540aa69c0d76
%>